/* Zentriere den Text und verwende einen einfachen Hintergrund */
html,
body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.starttext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 0px;
  margin-bottom: 40px;
}

.info-text {
  top: 20px;
  justify-content: center;
  align-items: center;
  position: inherit;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: black;
  align-self: flex-start;
}

.buttonGeräte {
  font-family: 'GeigerBuildText', sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 700;
  position: relative;
}

.buttonGeräte:hover {
  background-image: url('./pictures/Preview.jpg');
  background-size: cover;
  width: calc(192px *3);
  height: calc(108px *3);
  color: transparent;
  margin-top: 200px;
  cursor: url('./pictures/cursorDot.png'), auto;
}


.buttons-info {
  position: absolute;
  width: 1400px;
  height: 0;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
}

.buttonOpal,
.button2,
.button3,
.button4,
.button5,
.buttonHoney,
.button7 {
  font-family: 'GeigerBuildText', sans-serif;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 700;
  padding: 10px 20px;
  justify-content: space-around;

}

.buttonOpal {
  transform: rotate(-26.4deg) translateY(31px);
}

.button2 {
  transform: rotate(-17deg) translateY(-51px);
}

.button3 {
  transform: rotate(-8deg) translateY(-99px);
}

.button4 {
  transform: rotate(4deg) translateY(-107px);
}

.button5 {
  transform: rotate(12deg) translateY(-80px);
}

.buttonHoney {
  transform: rotate(22deg) translateY(-20px);
}

.button7 {
  transform: rotate(30deg) translateY(49.5px);
}

.buttonOpal:hover {
  position: relative;
  background-image: url('./pictures/Opal.png');
  background-size: cover;
  height: 200px;
  top:-160px;
  left: -50px;
  color: transparent;
  cursor: none;
}
.buttonHoney:hover {
  cursor: -webkit-grabbing;
}
.hover-text {
  position: inherit;
  top: calc(50% - 15px); /* Nimmt die Hälfte der Schriftgröße von 20px */
  left: auto;
  align-items: inherit;
  align-self: center;
  transform: translate();
  background-color: rgb(255, 255, 255);
  color: white;
  border-radius: 6px;
  visibility: visible;
  opacity: 1;
  white-space: nowrap;
  color: rebeccapurple;
  font-size: 30px;
}
.love {
  position: inherit;
  top: calc(50% - 15px); /* Nimmt die Hälfte der Schriftgröße von 20px */
  left: auto;
  right: auto;
  align-items: inherit;
  align-self: center;
  transform: translate();
  background-color: none;
  opacity: 1;
  white-space: nowrap;
  color: rebeccapurple;
  font-size: 30px;
  background-image: url(./pictures/eye1.png);
  background-size: cover;
  

}

.hover-text-honey {
  position: inherit;
  top: calc(50% - 6px); /* Nimmt die Hälfte der Schriftgröße von 12px */
  left: auto;
  align-items: inherit;
  align-self: center;
  transform: translate();
  background-color: rgb(255, 255, 255);
  color: white;
  border-radius: 6px;
  visibility: visible;
  opacity: 1;
  white-space: nowrap;
  color: darkred;
  font-size: 12px;
}

.buttonCustom:hover {
  background-color: #000000;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.home-background {
  background-image: url('./pictures/earth4k.jpg');
  background-size: cover;
  /* Deckt den gesamten Bereich ab */
  background-position: center;
  /* Zentriert das Bild */
  background-repeat: no-repeat;
  /* Verhindert das Wiederholen des Bildes */
  height: 100vh;
  /* Höhe des Bildes, um den ganzen Bildschirm abzudecken */
  color: white;
  /* Textfarbe */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.buttonCustom {
  font-family: 'GeigerBuildText', sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 700;
}