/* Zentriere den Text und verwende einen einfachen Hintergrund */
html, body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.starttext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 0px;
  margin-bottom: 40px;
}
.info-text {
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: black;
}

.buttonGeräte {
  font-family: 'GeigerBuildText', sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 700;
  position: relative;
}
.buttonGeräte:hover {
  background-image: url('./pictures/Preview.png');
  background-size: cover;
  width: calc(192px *3);
  height: calc(108px *3);
  color: transparent;
  margin-top: 200px;
  cursor: url('./pictures/cursorDot.png'),auto;
}

.buttons-info {
  top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  align-items: flex-start;
  gap: 100px;

}
.buttonOpal:hover {
  background-image: url('./pictures/Opal.png');
  background-size: cover;
  height: 200px;
  background-color: #000000;
  color: transparent;
  cursor: none;
}
.buttonOpal {
  font-family: 'GeigerBuildText', sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 700;
}
.opal-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 80px;
}
.table1 {
  width: auto;
  height: 100px;
  border: 3px solid black;
  background-color: salmon;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin: auto;
}

.buttonCustom {
  font-family: 'GeigerBuildText', sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 700;
}

.buttonCustom:hover {
  background-color: #000000;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.home-background {
  background-image: url('./pictures/earth4k.jpg');
  background-size: cover; /* Deckt den gesamten Bereich ab */
  background-position: center; /* Zentriert das Bild */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
  height: 100vh; /* Höhe des Bildes, um den ganzen Bildschirm abzudecken */
  color: white; /* Textfarbe */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}