html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'GeigerBuildText', sans-serif !important;
}

.islamic-background {
    background-image: url('./pictures/islamic.jpg');
    background-position: center;
    background-size: cover; /* Ensure it covers the entire area */
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.start-head {
    color: #599aa7;
    position: absolute;
    top: 0px;
    font-size: 2rem;
    z-index: 1; /* Ensures the heading is above other elements */
    background-color: ;
}

.container-times {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 150px; /* Push buttons down a bit */
    z-index: 1;
}

button {
    font-family: 'GeigerBuildText', sans-serif !important;
    padding: 5px 0px;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #b7d9db;
    border-color: #b7d9db;

    opacity: 85%;
}

button:hover {
    background-color: #7da8a8; /* Darken on hover */
}
button::after {
    transition: none;
}

.Fajr button, 
.Dhuhr button, 
.Asr button, 
.Maghrib button, 
.Isha button {
    width: 130px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 600px;
}

.container-click {
    display: flex;
    justify-content: center; /* Align content at the top */
    align-items: center;     /* Align content at the start */
    flex-direction: column;      /* Ensure the text stays as a block at the top */
    position: fixed;
    bottom: 320px;
    background-color: rgba(14, 41, 63, 0.9); /* Semi-transparent */
    width: 500px;
    height:180px;
    border-radius: 20px;
    z-index: 1;
    padding: 20px;
    opacity: 1;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bolder;
}
